* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.content {
  height: 100%;
}

/* transection page */
.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  box-shadow: 0 0 3px rgb(156, 21, 21);
  margin-bottom: 10px;
}
/* transection page */

/* antd icons */

.switch-icons {
  border: 1px solid rgba(0, 0, 0, 0.677);
  border-radius: 5px;
  padding: 10px 15px;
}

.anticon svg {
  font-size: 20px;
  cursor: pointer;
}

.active-icon {
  color: black;
}
.inactive-icon {
  color: rgb(0, 0, 0);
}

.filter-tab .ant-select-selector {
  width: 150px !important;
}

/*-------------------------------footer css--------------------------*/

.footer{
  background-color: black;
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.filters{
  background-color: #FACF55;
  border-radius: 20px;
}

h6{
  color: #F9FBC3;
}

/* style the select box */
.custom-select .ant-select-selector {
  border-radius: 10px !important;
  background-color: #ED4059 !important; /* main select bg */
  border: 1px solid #666;
  height: 40px;
  display: flex;
  align-items: center;
}

/* style the popup dropdown */
.my-select-popup {
  border-radius: 10px !important;
  background-color: #ED4059 !important;  /* dropdown bg */
  padding: 5px;
}

/* style each option */
.my-select-popup .ant-select-item {
  background-color: #ED4059 !important;
  border-radius: 8px !important;
  margin: 2px 0;
}

/* hover / active state */
.my-select-popup .ant-select-item-option-active {
  background-color: #FACF55 !important;
}
