


/* Reduce overall navbar height */
.navbar {
  background-color:#ED4059  !important;
  padding: 2px 8px; /* smaller padding */
  min-height: 40px; /* reduce height */
}

/* Brand (logo/text) smaller */
.navbar .navbar-brand {
  color: #f56d0b !important;
  font-weight: bold;
  font-size: 0.9rem; /* smaller font */
  line-height: 1.2;
}

/* Navbar links smaller */
.nav-link {
  font-size: 1rem; /* smaller text */
  padding: 2px 8px !important;
}

/* User name and icons */
.navbar h6 {
  margin-top: 0px;
  margin-right: 8px;
  font-size: 0.9rem;
}

/* Reduce button size */
.navbar .btn {
  font-size: 0.8rem;
  padding: 2px 8px;
}
