.navbar {
  background-color: #ff7900 !important;
  padding: 5px;
}
.navbar .navbar-brand {
  color: #f56d0b !important;
  font-weight: bold;
  font-size: 1rem;
}

.nav-link {
  font-size: 1.2rem;
}

.navbar h6 {
  margin-top: 0px;
  margin-right: 10px;
}
